.gm-style div,
.gm-style span,
.gm-style label,
.gm-style a {
  font-family: Arial, Helvetica, sans-serif;
}

.loc-list {
  font-size: 13px;
  height: 530px;
  overflow-x: auto;
}

.loc-search-box input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: 6px 12px;
  width: 100%;
  -webkit-border-radius: 1px;
  font-style: italic;
  font-weight: 600;
}

.loc-map-container {
  clear: left;
  float: left;
  margin-top: 0;
  width: 100%;
}
.loc-map-container .loc-list {
  font-size: 13px;
  height: initial;
  overflow-x: initial;
  width: auto;
  float: none;
}

.loc-map-container .loc-list .position {
  background: #00192d;
  border-radius: 15px;
  color: #fff;
  display: block;
  float: left;
  font-weight: bold;
  margin: 10px 0 0 15px;
  padding: 4px 7px;
  text-align: center;
  width: auto;
  min-width: 13px;
}

.loc-map-container .loc-name {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  color: #000000;
}

.loc-website a, .loc-get-direction a {
  color: #969696 !important;
}

/* p.gmap_fndstr_spn {
  color: #ccc;
} */
.loc-map-container .loc-list ul {
  display: block;
  clear: none;
  float: none;
  width: 100%;
  list-style: none;
  /* margin: auto; */
  padding: 0;
  margin-left: -5px;
}

.loc-map-container .loc-list ul li {
  float: none;
  width: auto;
}

.loc-map-container .loc-list .list-details .list-content {
  padding: 0;
}

.loc-map-container .loc-list .list-details {
  float: none;
  margin-left: 6px;
  width: 80%;
}

.loc-map-container .loc-map {
  float: none;
  height: 530px;
  width: 100%;
  /* margin: auto; */
}
.highlight {
  border: 2px solid #a51c27;
}

.store-locator-form #map,
.block-store-locator #map,
.store-locator-page-view {
  width: 100%;
  height: 500px;
  float: none;
}

p.gmap_fndstr_spn {
  margin-right: 50px;
}

.myclass p {
  float:left;
}

/* .gmap_fndstr_spn:hover, p.gmap_map_spn:hover {
  border-bottom: 3px solid #ff0869;
  font-weight: bold;
} */

.myclass {
  margin-top: -14px;
  border: 0;
}

.loc-search-box {
  text-align: center;
  padding-left: 10px;
}
.field--item {
  position: relative;
}

.str-lctr-cnt {
  position: absolute;
  top: 76%;
  left: 3%;
  width: 94%;
  background: #ff0869;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600
}

p.gmap_fndstr_spn:hover , .gmap_map_spn:hover {
  border-bottom: 3px solid #ff0869;
  color: #000000;
  font-weight: 600;
}

p.gmap_fndstr_spn , .gmap_map_spn {
  color: #ccc;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
}

.active, .gmap_fndstr_spn{
  border-bottom: 3px solid #ff0869;
  font-style: italic;
  font-weight: 600;
  color:#000000 !important;
}

.inside h1 {
  display: none;
}

.loc-map-container .loc-list .list-details .list-content {
  padding: 10px;
  text-align: left;
  margin-left: 30px;
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  color: #000000;
}

.align-center {
  width: 100%;
}

.inside {
  text-align: left;
  font-style: italic;
  font-weight: 500;
}

@media (min-width: 480px) {
  .str-lctr-cnt {
    top: 83%;
    left: 4%;
    width: 92%;
  }

}

@media (min-width: 640px) {
  .str-lctr-cnt { 
    top: 86%;
    left: 3%;
    width: 94%;
    padding: 12px;
  }

  .loc-search-box {
    display: block;
    padding-left: 20px;
  }

  .form-item {
    margin-bottom: 0;
    max-width: initial;
  }

  .loc-map-container .loc-list .list-details {
    float: none;
    width: auto;
  }
}

@media (min-width: 768px) {
  .loc-map-container .loc-list ul li {
    float: none;
    width: 40%;
  }

  .inside {
    text-align: left;
    font-style: italic;
    font-weight: 500;
  }

  .str-lctr-cnt {
    top: 90%;
    left: 6%;
    width: 88%;
  }
  
  .form-item {
    min-width: 36em;
  }

  .loc-search-box input {
    width: 100%;
  }
  .loc-map-container .loc-list ul {
    margin-left :26px;
  }

  .loc-search-box { 
    padding-left: 40px;
  }
  
}

@media (min-width: 1024px) {
  .str-lctr-cnt {
    top: 91%;
    left: 3%;
    width: 94%;
    font-size: 2rem;
  }

  p.gmap_fndstr_spn {
    margin-right: 62px;
  }

  
  .loc-search-box input {
    width: 100%;
  }

  .list-wrapper  {
    width: 95%;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  /* .loc-search-box {
    width: 95%;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  } */

  .form-item {
    min-width: 49em;
  }

  .loc-search-box {
    padding-left: 30px;
  }

  .loc-map {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .loc-map-container .loc-map {
    width: 95%;
  }

}

@media (min-width: 1200px) {
  .form-item {
    min-width: 66em;
  }

  .loc-search-box {
    padding-left: 37px;
  }
}

input#search-location {
  background-image: url(../images/search.png);
  background-position: 9px 9px;
  background-size: 23px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 45px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

p.gmap_map_spn ,.loc-map {
  display:none;
}

.loc-name:before {
  background-image: url(../images/phone.png);
  background-size: 23px;
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s;
  background-position: 96% 78%;
}
